<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  <title>Fren Web</title>
  {% block head %}{% endblock %}
</head>

<body>
  <div class="container">
      <div class="navbar">
        <a href="{{url_for('views.home')}}" class="nav-link">[ Home ]</a>
        <a href="{{url_for('views.about')}}" class="nav-link">[ About ]</a>
        <a href="{{url_for('views.contact')}}" class="nav-link">[ Contact ]</a>
        <a href="https://github.com/xonsium" target="_blank" class="nav-link">[ Github ]</a>
      </div>
    <hr style="margin-bottom: 20px;">
    {% block body %}{% endblock %}

    <footer class="cpr">
      <p>&copy; 2025 Faridin Islam. All rights reserved.</p>
    </footer>
</body>

</html>