{% extends "base.html" %} {% block head %}
{% endblock head %} {% block body %}
        <section class="section">
            <div class="social">
                <span>⦿ Facebook</span>
                <span class="separator"></span>
                <a class="nav-link" target="_blank" href="https://www.facebook.com/based.glasses">[ based.glasses ]</a>
            </div>
            <div class="social">
                <span>⦿ Instagram</span>
                <span class="separator"></span>
                <a class="nav-link" target="_blank" href="https://www.instagram.com/faridin.iz">[ faridin.iz ]</a>
            </div>
            <div class="social">
                <span>⦿ Telegram</span>
                <span class="separator"></span>
                <a class="nav-link" target="_blank" href="https://t.me/faridinqn">[ faridinqn ]</a>
            </div>
            <div class="social">
                <span>⦿ Email</span>
                <span class="separator"></span>
                <a class="nav-link" target="_blank" href="mailto:faridin05saif@gmail.com">[ faridin05saif@gmail.com ]</a>
            </div>
        </section>
{% endblock body %}