{% extends "base.html" %} {% block head %}
{% endblock head %} {% block body %}

<section class="info-section">
    <div>
        <img id="profile" src="https://upload.wikimedia.org/wikipedia/en/7/76/Avenged_Sevenfold_cover_2007.jpg" alt="">
    </div>
    <section class="info">
        <div class="social">
            <span>Name</span>
            <span class="separator"></span>
            <span>Faridin Islam</span>
        </div>
        <div class="social">
            <span>Age</span>
            <span class="separator"></span>
            <span>17 yrs</span>
        </div>
        <div class="social">
            <span>Hobbies</span>
            <span class="separator"></span>
            <span>
                <a class="info-link" target="_blank" href="https://www.instagram.com/faridin.iz">Guitar</a>,
                <a class="info-link" target="_blank" href="https://github.com/xonsium">Coding</a>
            </span>
        </div>
        <div class="social">
            <span>Views</span>
            <span class="separator"></span>
            <span>My Own</span>
        </div>
    </section>
</section>



<h3>Small websites/projects</h3>
<ul>
    <li><a target="_blank" href="https://xonsium.github.io/waifu-nft/">Waifu NFT</a></li>
    <li><a target="_blank" href="https://periodic-table-gilt.vercel.app/">Chem? Periodic Table</a></li>
    <li><a target="_blank" href="https://github.com/xonsium/NDC-notice-bot">NDC Notice Bot</a></li>
    <li><a target="_blank" href="https://github.com/xonsium/greyboard">Greyboard</a></li>
    <li><a target="_blank" href="https://github.com/xonsium/NoAuth">NoAuth Spotify Api</a></li>
</ul>

<h3>Blog entries</h3>
<ul>
    {% for key, value in blogs.items() %}
    {% set title = value.split('/')[-1] %}
    <li><a href="{{ url_for('views.blog', b=key) }}">{{ title }}</a></li>
    {% endfor %}
</ul>

<h3>Miscellaneous</h3>
<ul>
    <li><a href="{{ url_for('views.alp') }}">Album Picks</a></li>
</ul>


{% endblock body %}